*{
  font-family: arial;
}

html, body{
  margin: 0;
  padding: 0;
  background-color: rgb(50, 50, 50);
  position: relative;
  z-index: -2;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

#time-left{
  /* text-align: center; */
  color: white;
  background-color: rgba(15, 15, 15, 0.8);
  display: table;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
  transition: background 0.25s;
  cursor: default;
}

#time-left:hover{
  background-color: rgba(15, 15, 15, 1);
}

#time-left > *{
  font-weight: normal;
  /* font-size: 600%; */
  margin: 0;
  vertical-align: middle;
}


#progress-bar{
  opacity: 0.8;
  height: 50px;
  width: calc(100% - 100px);
  margin: 0 50px;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  border-radius: 25px;
  font-size: 16px;
  display: flex;
  color: white;
  align-items: center;
  /* box-shadow: 0px 0 0 0 black inset; */
  transition: opacity 0.25s;
  cursor: default;
}

#progress-bar:hover{
  opacity: 1;
}

#start-date-progress{
  flex-grow: 0;
  margin-left: 10px;
}

#percent-progress{
  flex-grow: 1;
  text-align: center;
}

#end-date-progress{
  flex-grow: 0;
  margin-right: 10px;
}

#countdown{
  display: none;
}

#background{
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  /* background-color: rgb(50, 50, 50); /*50, 50, 50 */
  background: radial-gradient(rgb(55, 55, 55), rgb(40, 40, 40));
}

html, body{
  cursor: none;
  user-select: none;
}

img{
  width: 0;
  height: 0;
  display: none;
}

#input-popup{
  top:0;
  left:0;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  cursor: default;
}

#input-popup *{
  color: white;
}

#countdown-display{
  /* font-size: 50px; */
  font-size: 600%;
  border-radius: 15px;
}

#title{
  /* font-size: 40px; */
  font-size: 400%;
  display: inline-block;
}

#input-popup p, #input-popup input, #input-popup label{
  font-size: 1.25em;
}

#input-popup input{
  margin-right: 1.25em;
}

@media only screen and (max-width: 840px) {
  #countdown-display{
    font-size: 45px;
  }

  #title{
    font-size: 35px;
  }

  #input-popup{
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 480px) {

  #time-left{
    width: 100%;
    box-sizing: border-box;
  }

  #countdown-display{
    font-size: 35px;
  }

  #title{
    font-size: 25px;
  }

  /* #percent-progress{
    display: none;
  } */

  /* #start-date-progress{
    flex-grow: 1;
  } */

  #start-date-progress, #end-date-progress{
    font-size: 12px;
  }

  #input-popup{
    overflow-y: scroll;
    padding: 10px;
  }

  #progress-bar{
    margin: 0;
    width: 100%;
  }

  button i{
    font-size: 16px !important;
  }

  button{
    padding: 8px !important;
  }
}

#timer-setup{

}

input{
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid white;
  outline: 0;
  border-radius: 0;
}

::-webkit-inner-spin-button { display: none; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator {
  background: url("https://cdn4.iconfinder.com/data/icons/feather/24/calendar-512.png");
  filter: invert(100%);
  display: block;
}

::placeholder{
  color: white;
  opacity: 1;
}

.input-container{
  display: inline-block;
  margin-bottom: 10px;
}

#submit{
  background-color: red;
  color: white;
  border-bottom: none;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  display: block;
  margin-top: 50px;
  margin-left: 50%;
  transform:translateX(-50%);
  transition: background 0.25s;
}

#submit:hover{
  background-color: rgb(230, 0, 0);
}

#submit:active{
  background-color: rgb(220, 0, 0);
}

button{
  background-color: transparent;
  border: 0;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  outline: 0;
  transition: background 0.25s, color 0.25s;
}

button:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

button:active{
  background-color: rgb(255, 255, 255);
}

button i{
  color: white;
  font-size: 24px;
}

button:active i{
  color: grey;
}

#copy-popup{
  /* width: 66%; */
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  padding: 40px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: none;
}

#copy-url{
  width: 100%;
  color: white;
}

#close-copy-popup{
  float: right;
}
